# Comma separated ids
DISCOGS_ARTIST_IDS="example"
DISCOGS_API_KEY="example"

MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USER=apikey
MAIL_PASS=""
MAIL_FROM="example@mail.com"
MAIL_TO="example@mail.com"

MAIL_FROM="example@mail.com"
MAIL_TO="example@mail.com"

DB_URI="mongodb://user:pass@mongo:27017/db?authSource=admin"

LOCALE="EN-us"